SUPABASE_URL=https://tzmlcctytmasduslakfs.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6bWxjY3R5dG1hc2R1c2xha2ZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NjY4MTgsImV4cCI6MjA5MzE0MjgxOH0.2pwZNthZfSZ2EnQU1_O8lK0Z0FmCdkEOkIQR-RLMROE
